* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
    margin-bottom: 3px;
}

#form {
    background-color: gray;
    display: flex;
    flex-direction: column;
    color: rgb(246, 243, 240);
}

#element {
    margin: 5px;
    text-align: center;
}
button {
    width: 100%;
}