* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #root {
    display: flex;
    justify-content: center;
  
    .App {
      width: 1200px;
      .post {
        display: flex;
        padding: 15px;
        border: 1px solid rgb(122, 137, 137);
        margin-top: 15px;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(69, 67, 67);
        color: whitesmoke;
  
        &-enter {
          transform: translate(-350px);
        }
  
        &-enter-active {
          transform: translate(0px);
          transition: all 500ms ease-in;
        }
  
        &-exit {
          opacity: 1;
        }
  
        &-exit-active {
          transform: translate(-350px);
          transition: all 500ms ease-in;
        }
      }
    }
  
    .page__wrapper {
      margin-top: 30px;
      display: flex;
  
      .page {
        padding: 10px;
        border: 1px solid rgb(122, 137, 137);
        cursor: pointer;
  
        &__current {
          border: 2px solid orange;
          font-weight: bold;
        }
      }
    }
  }
  